@page "/MapMethods"
@implements IDisposable

@using System.Reactive.Linq;
@using Proxoft.Maps.Core.Api

<div style="width: 100%; height: 500px;" @ref="MapHost">
</div>

<div>
    <div style="display: inline-block;">
        <div>
            <button @onclick="SetCenterClick">Set Center</button>
            <span>Lat:</span><input @bind-value="CenterLat" />
            <span>Lng:</span><input @bind-value="CenterLng" />
        </div>

        <div>
            <button @onclick="PanToClick">PanTo</button>
            <span>Lat:</span><input @bind-value="PanLat" />
            <span>Lng:</span><input @bind-value="PanLng" />
        </div>

        <div>
            <button @onclick="ZoomToClick">Zoom</button>
            <span>Zoom:</span><input @bind-value="Zoom" />
        </div>
    </div>

    <div class="map-event-log">
        @foreach (var l in MapLog.Reverse<string>())
        {
            <span>@l</span><br />
        }
    </div>
</div>



@code {
    private IMap _map;

    [Inject]
    public IMapFactory MapFactory { get; set; }

    ElementReference MapHost { get; set; }

    private List<string> MapLog { get; set; } = new();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        if (firstRender)
        {
            LatLng center = new()
            {
                Latitude = -34.397m,
                Longitude = 150.644m
            };

            _map = await this.MapFactory.Initialize(new MapOptions { Center = center, Zoom = 7, TraceJs = true }, this.MapHost);
            _map.OnEvent
                .Where(e => !(e is MouseMoveEvent))
                .Subscribe(e => this.AddLog(e.Name));

        }
    }

    private decimal PanLat { get; set; } = 48.15m;
    private decimal PanLng { get; set; } = 17.6m;

    private decimal CenterLat { get; set; } = 48.15m;
    private decimal CenterLng { get; set; } = 17.6m;

    private int Zoom { get; set; } = 7;

    private void SetCenterClick()
    {
        _map.SetCenter(new LatLng { Latitude = CenterLat, Longitude = CenterLng });
    }

    private void PanToClick()
    {
        _map.PanTo(new LatLng { Latitude = PanLat, Longitude = PanLng });
    }

    private void ZoomToClick()
    {
        _map.ZoomTo(new ZoomLevel(this.Zoom));
    }

    private void AddLog(string logMessage)
    {
        this.MapLog.Add(logMessage);
        this.StateHasChanged();
    }

    public void Dispose()
    {
        _map.Dispose();
    }
}
