@page "/Marker"
@implements IDisposable

@using System.Reactive.Linq;
@using Proxoft.Maps.Core.Api
@using Proxoft.Maps.Core.Api.Icons;
@using System.Drawing;

<div class="map-container" @ref="MapHost">
</div>

<button @onclick="ClearLogClick">Clear log</button>
<div class="map-event-log">
    @foreach (var l in MapLog.Reverse<string>())
    {
        <span>@l</span><br />
    }
    
</div>

<div>
    <button @onclick="PositionClick">Set Position</button>
    <span>Lat:</span><input @bind-value="Lat" />
    <span>Lng:</span><input @bind-value="Lng" />
</div>
<div>
    Draggable <input type="checkbox" @bind="Draggable" />
</div>

<div>
    Visible <input type="checkbox" @bind="Visible" />
</div>

<div>
    Use html marker <input type="checkbox" @bind="UseHtml" />
</div>

@code {
    private bool _draggable = false;
    private bool _useHtml = true;
    private Opacity _opacity = Opacity.Visible;

    private IMap _map = Proxoft.Maps.Core.Api.NoMap.Instance;
    private IMarker _marker = Proxoft.Maps.Core.Api.NoMarker.Instance;
    private IMarker _customMarker = Proxoft.Maps.Core.Api.NoMarker.Instance;

    private HtmlIcon _htmlIcon = new HtmlIcon()
        {
            Size = new Size(),
            IconAnchor = new Point(),
            ClassName = "custom-marker",
            Html = "<span class=\"marker-span\">x</span>"
        };

    [Inject]
    public IMapFactory MapFactory { get; set; } = null!;

    ElementReference MapHost { get; set; }

    private List<string> MapLog { get; set; } = new();

    private bool Draggable {
        get => _draggable;
        set
        {
            _draggable = value;
            _marker.SetDraggable(value);
            _customMarker.SetDraggable(value);
        }
    }

    private bool Visible
    {
        get => _opacity == Opacity.Visible;
        set
        {
            _opacity = Opacity.From(value);

            _marker.SetOpacity(_opacity);
            _customMarker.SetOpacity(_opacity);
        }
    }

    private bool UseHtml
    {
        get => _useHtml;
        set
        {
            _useHtml = value;
            IconOptions io = _useHtml
                ? _htmlIcon
                : new ImageIcon();

            _customMarker.SetIcon(io);
        }
    }

    private decimal Lat { get; set; } = -34.397m;
    private decimal Lng { get; set; } = 150.644m;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);

        if (firstRender)
        {
            LatLng center = new()
            {
                Latitude = this.Lat,
                Longitude = this.Lng
            };

            _map = await this.MapFactory.Initialize(
                new MapOptions { Center = center, Zoom = 7, TraceJs = true },
                this.MapHost);

            _marker = _map.AddMarker(new MarkerOptions() {
                Position = center,
                Draggable = _draggable,
                Opacity = _opacity,
                TraceJs = true
            });

            _customMarker = _map.AddMarker(new MarkerOptions()
                {
                    Position = new LatLng
                    {
                        Latitude = center.Latitude + 1,
                        Longitude = center.Longitude + 1
                    },
                    Draggable = _draggable,
                    Opacity = _opacity,
                    Icon = new HtmlIcon()
                    {
                        Size = new Size(),
                        IconAnchor = new Point(),
                        ClassName = "custom-marker",
                        Html = "<span class=\"marker-span\">x</span>"
                    },
                    TraceJs = true
            });

            _marker.OnEvent
                .Subscribe(e => this.AddLog($"{e.Name} [{e.SourceId}]"));

            _customMarker.OnEvent
                .Subscribe(e => this.AddLog($"{e.Name} [{e.SourceId}]"));

            _map.OnClick()
                .Subscribe(latlng => {
                    _customMarker.SetPosition(latlng);
                    _marker.SetPosition(latlng);
                });
        }
    }

    private void PositionClick()
    {
        _marker.SetPosition(this.Lat, this.Lng);
    }

    private void ClearLogClick()
    {
        this.MapLog.Clear();
    }

    private void AddLog(string logMessage)
    {
        this.MapLog.Add(logMessage);
        this.StateHasChanged();
    }

    public void Dispose()
    {
        Console.WriteLine("Disposing");

        _marker.Dispose();
        _map.Dispose();
    }
}
