@page "/"

<h1>Google maps!</h1>

<div id="map-container">
</div>

<div id="map-container-log">
    @foreach(var l in Map1Log)
    {
        <span>@l</span><br/>
    }
</div>

<br/>

<div id="map-container-2">
</div>

<div id="map-container-log2">
    @foreach (var l in Map2Log)
    {
        <span>@l</span><br />
    }
</div>