@inherits LayoutComponentBase

@inject Proxoft.Maps.Core.Api.Factories.IMapFactory mapFactory

<div>
    <a href="/">Single Map</a>
    <a href="/TwoMaps">2 Maps</a>
    <a href="/MapMethods">Map methods</a>
    <a href="/Marker">Marker</a>
    <a href="/Polygon">Polygon</a>
    <a href="/Geocoding">Geocoding</a>
    <a href="/StaticMap">Static Map</a>
</div>

<h1>
    @mapFactory.Name
</h1>

<div class="page">
    <div class="main">
        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
